@import 'bootstrap';
@import 'bootstrap/theme';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #46484A;

}

.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: #FCF6F1;
}

.index-view {
  text-align: center;
  margin: 50px 0;
  font-size: 1.2em;
}

.auth-form {
  width: 40%;
  margin: 50px auto;
}

.wrapper {
  margin: 50px auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #46484A;
}

.navbar-default {
  border: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;

}

.container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;

}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Cedarville Cursive', cursive;
}

.welcome {
    color: #AD6316;
}

.view-wrapper {
  background-color: white;
  position: relative;
  top: 20px;
  min-height: 600px;
  width: 70%;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: left;

}

.submit {
  background-color: #053B34;
  color: #FFF;
}

.submit:hover {
  background-color: #4E8485;
  color: #FFF;
}

.edit-btn {
  border: 0;
  box-shadow: none;
  font-style: italic;
  background-color: transparent;
  font-size: 1em;
  color: #9C9C9C;
}

.edit-btn:hover {
  color: #AD6316;
  cursor: pointer;
}

.del-btn {
  font-family: helvetica, sans-serif;
  font-size: 2em;
  color: #C7C7C7;

}

.del-btn-sm {
  font-family: helvetica, sans-serif;
  font-size: 1em;
  color: #C7C7C7;

}
//
.del-btn:hover {
  color: #F0184A;
  cursor: pointer;
}

.del-btn-sm:hover {
  color: #F0184A;
  cursor: pointer;
}

.float-right {
  float: right;
}


//Party
.party-new-form {
  width: 30%;
  margin: 70px auto;
}

.grey-italic {
  font-style: italic;
  font-size: 1em;
  color: #9C9C9C;
}

.party-name {
  font-weight: 300;
  font-size: 2.5em;
  color: #438485;
}

.party-header {
  margin: 45px 0 30px 20%;
}

.link:hover {
    color: #4E8485;
}

.party {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  margin: 30px;
}

a:hover {
  text-decoration: none;
}

.form-input {
  margin: 10px auto;
}

//List
.lists {
   width: 60%;
   margin: 20px auto;
}

.list {
  min-height: 100px;
  margin: 20px auto;
  text-align: left;
}

.list-name {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 5px;
}

//item

.item {
  width: 80%;
  font-size: 1.2em;
  margin: 20px auto;
  border-bottom: grey dotted .5px;
  text-align: left;
  padding: 0 15px;
}

.add-item-form {
  margin: 20px auto 0 auto;
  width: 80%;

}
