.submit {
  background-color: $darkgreen;
  color: $white;
}

.submit:hover {
  background-color: $sage;
  color: $white;
}

.edit-btn {
  border: 0;
  box-shadow: none;
  font-style: italic;
  background-color: transparent;
  font-size: 1em;
  color: $lightgrey;
}

.edit-btn:hover {
  color: $gold;
  cursor: pointer;
}

.del-btn {
  font-family: helvetica, sans-serif;
  font-size: 2em;
  color: $lightergrey;
}

.del-btn:hover {
  color: $pink;
  cursor: pointer;
}

.del-btn-sm {
  font-family: helvetica, sans-serif;
  font-size: 1em;
  color: $lightergrey;

}

.del-btn-sm:hover {
  color: $pink;
  cursor: pointer;
}
