// $background: #ebeff2;
$background: rgba(0, 0, 0, .03);
$white: #FFF;

$mediumgrey: #46484A;
$lightgrey: #BFBFBF;
$lightergrey: #D9D9D9;

$darkgreen: #294022;
$sage: #508569;
$lightgreen: #7B9653;
$pink: #F0184A;
$gold: #AD6316;
