* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: $mediumgrey;
}
.container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: $background;
}

.index-view {
  text-align: center;
  margin: 50px 0;
  font-size: 1.2em;
}

.auth-form {
  width: 40%;
  margin: 50px auto;
}

.auth-form h4 {
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .auth-form {
     width: 90%;
  }

  .form-control {
     margin-left: 16px;
     width: 90%;
  }
}

.wrapper {
  margin: 50px auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar-default {
  border: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;

}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;

}

.container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1em;
    font-weight: 300;
    margin-left: 20px;
}

.nav-logo {
  font-family: 'Rouge Script', cursive;
  color: $darkgreen;
  font-size: 3em;
  margin-left: 15px;
}

.nav-logo:hover {
  color: $darkgreen;
}

h1 {
  text-align: center;
  font-size: 8em;
  font-family: 'Rouge Script', cursive;
  color: $darkgreen;
  margin-top: 50px;
}

.view-wrapper {
  margin: 0 auto;
  text-align: left;
}

//General formatting
.float-right {
  float: right;
}

.grey-italic {
  font-style: italic;
  font-size: 1em;
  color: $lightgrey;
}
