.item {
  width: 80%;
  font-size: 1.2em;
  margin: 20px auto;
  border-bottom: grey dotted .5px;
  text-align: left;
  padding: 0 15px;
}

.add-item-form {
  margin: 20px auto 0 auto;
  width: 80%;
}
