.party-new-form {
  width: 30%;
  margin: 70px auto;
}

.party-name {
  font-weight: 300;
  font-size: 2.5em;
  color: #438485;
}

.party-header {
  margin: 45px 0 30px 20%;
}

.link:hover {
    color: #4E8485;
}

.party {
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
  margin: 30px;
}

a:hover {
  text-decoration: none;
}

.form-input {
  margin: 10px auto;
}
