{{#each model as |party|}}
  {{#link-to 'party' party}}
    {{party-view/party-name name=party.name}}
  {{/link-to}}
{{/each}}


{{#link-to "create-party"}}
  <button class="btn btn-primary">Create a Party</button>
{{/link-to}}
