<div class=index-view>

  <h1>Hostess</h1>

  The party planning app for avid list makers.<br> Create an account and get
  started planning <br>your next get together.
  <br>
  <br>
  Coming Soon! Add a pinterest board to your planner
  <br>and bring your Pinterest inspiration to life.
</div>
