<div class="list">
  {{list.name}}
  <button class="btn btn-xs del-btn-sm" {{action 'delete'}}>
    X
  </button>
  <button class="btn btn-xs edit-btn" {{action 'edit'}}>
    edit
  </button>
  {{#each list.items as |item|}}
    <li>{{item.text}}</li>
  {{/each}}



</div>
