<h3 class="party-new-form">
  <form {{action 'save' model on='submit'}}>
    <div class="form-input">
      {{input value=model.name
              class='input-group form-control'}}
    </div>
    <div class="form-input">
      {{input value=model.location
              class='input-group form-control'}}
    </div>

    <button type="submit" class="btn submit">
      Save
    </button>

    <button class="btn btn-default" {{action 'cancel' model}}>
      Cancel
    </button>
  </form>
</h3>
